<app-header></app-header>

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Group Class</h1>
            </div>
            <!-- <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">groupclass</li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- End Breadcrumb -->


<!-- Start Services
    ============================================= -->
<div class="solid-services-area default-padding bottom-less bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Our <span>Services</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it
                        examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="services-items">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="flaticon-tooth"></i>
                        <h4>Outdoor Checkup</h4>
                        <ul>
                            <li>Height / weight check</li>
                            <li>Blood pressure check</li>
                            <li>Cholesterol level check</li>
                            <li>Blood sugar test</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="flaticon-department-1"></i>
                        <h4>Operation Theatre</h4>
                        <ul>
                            <li>Utility Columns</li>
                            <li>Surgical and Exam Lights</li>
                            <li>Stretchers and Stretcher Accessories</li>
                            <li>Cushions and Mattresses</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="flaticon-pharmacy"></i>
                        <h4>Pharmacy</h4>
                        <ul>
                            <li>Drug Side Effects</li>
                            <li>Treatment Options</li>
                            <li>International Drug Database</li>
                            <li>Breastfeeding Warnings</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="flaticon-blood-sample"></i>
                        <h4>Blood Test</h4>
                        <ul>
                            <li>Blood glucose test</li>
                            <li>Calcium blood test</li>
                            <li>Cardiac enzymes</li>
                            <li>Cholesterol and lipid tests</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="flaticon-doctor"></i>
                        <h4>Qualified Doctors</h4>
                        <ul>
                            <li>Allergists/Immunologists </li>
                            <li>Anesthesiologists </li>
                            <li>Colon and Rectal Surgeons </li>
                            <li>Critical Care Medicine Specialists</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="flaticon-24-hours"></i>
                        <h4>Emergency Care</h4>
                        <ul>
                            <li>Emergency Assistance</li>
                            <li>Legal Assistance</li>
                            <li>Medical Assistance</li>
                            <li>Notarial Services</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Services -->

<!-- Start Banner 
    ============================================= -->
<div class="banner-area top-pad-50p bg-gradient border-shape responsive-auto-height text-small">
    <div class="item">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="content double-items">

                            <div class="col-md-7 col-sm-6">
                                <h1 data-animation="animated slideInRight">Best care for your Good health</h1>
                                <p data-animation="animated slideInUp">
                                    The ourselves suffering the sincerity. Inhabit her manners adapted age certain.
                                    Debating offended at branched striking be subjects.
                                </p>
                                <a data-animation="animated slideInUp" class="btn btn-light effect btn-md" href="#">View
                                    Details</a>
                            </div>

                            <div class="col-md-5 col-sm-6 thumb">
                                <img src="assets/img/banner/s4.jpg" alt="Thumb">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Start Doctors Tips 
    ============================================= -->
<div class="doctor-tips-area default-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Health <span>Tips</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it
                        examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="health-tips-items tips-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                <div class="single-item">
                    <div class="col-md-5">
                        <div class="thumb">
                            <img src="assets/img/doctors/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="info">
                            <div class="doctor">
                                <h4>Dr. Jessica Ronal</h4>
                                <h5>MPH, Medicine, Surgery</h5>
                            </div>
                            <h3>How to live a healthy lifestyle?</h3>
                            <p>
                                Frequently partiality possession resolution at or appearance unaffected he me. Engaged
                                its was evident pleased husband. Ye goodness felicity do disposal dwelling no. First am
                                plate jokes to began of cause an scale. Subjects he prospect elegance followed no
                                overcame possible it on.
                            </p>
                            <h4>Follow the instructions</h4>
                            <ul>
                                <li>Dont just worry about the things you cannot help.</li>
                                <li>Eat Healthy, work better, do gardening.</li>
                                <li>Some relationships can kill you. Avoid them at the most.</li>
                                <li>Focus on the good things that you like</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item">
                    <div class="col-md-5">
                        <div class="thumb">
                            <img src="assets/img/doctors/5.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="info">
                            <div class="doctor">
                                <h4>Dr. Jessica Ronal</h4>
                                <h5>MPH, Medicine, Surgery</h5>
                            </div>
                            <h3>How to live a healthy lifestyle?</h3>
                            <p>
                                Frequently partiality possession resolution at or appearance unaffected he me. Engaged
                                its was evident pleased husband. Ye goodness felicity do disposal dwelling no. First am
                                plate jokes to began of cause an scale. Subjects he prospect elegance followed no
                                overcame possible it on.
                            </p>
                            <h4>Follow the instructions</h4>
                            <ul>
                                <li>Dont just worry about the things you cannot help.</li>
                                <li>Eat Healthy, work better, do gardening.</li>
                                <li>Some relationships can kill you. Avoid them at the most.</li>
                                <li>Focus on the good things that you like</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item">
                    <div class="col-md-5">
                        <div class="thumb">
                            <img src="assets/img/doctors/6.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="info">
                            <div class="doctor">
                                <h4>Dr. Jessica Ronal</h4>
                                <h5>MPH, Medicine, Surgery</h5>
                            </div>
                            <h3>How to live a healthy lifestyle?</h3>
                            <p>
                                Frequently partiality possession resolution at or appearance unaffected he me. Engaged
                                its was evident pleased husband. Ye goodness felicity do disposal dwelling no. First am
                                plate jokes to began of cause an scale. Subjects he prospect elegance followed no
                                overcame possible it on.
                            </p>
                            <h4>Follow the instructions</h4>
                            <ul>
                                <li>Dont just worry about the things you cannot help.</li>
                                <li>Eat Healthy, work better, do gardening.</li>
                                <li>Some relationships can kill you. Avoid them at the most.</li>
                                <li>Focus on the good things that you like</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Doctors Tips -->

<!-- Start Banner 
    ============================================= -->
<div class="banner-area responsive-auto-height text-small">
    <div class="item shadow dark text-light bg-fixed" style="background-image: url(assets/img/banner/4.jpg);">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="content double-items">

                            <div class="col-md-7 col-sm-6">
                                <h1 data-animation="animated slideInRight">Best care for your <span> Good health</span>
                                </h1>
                                <p data-animation="animated slideInUp">
                                    The ourselves suffering the sincerity. Inhabit her manners adapted age certain.
                                    Debating offended at branched striking be subjects.
                                </p>
                                <a data-animation="animated slideInUp" class="btn btn-light border btn-md" href="#">View
                                    Details</a>
                            </div>

                            <!-- Start Appoinment Form -->
                            <div class="col-md-5 col-sm-6 appoinment">
                                <div class="appoinment-box">
                                    <div class="heading">
                                        <h2>Make an Appointment</h2>
                                    </div>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="name" name="name" placeholder="Name"
                                                        type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <select>
                                                        <option value="1">Male</option>
                                                        <option value="2">Female</option>
                                                        <option value="3">Child</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <select>
                                                        <option value="1">Department</option>
                                                        <option value="2">Medecine</option>
                                                        <option value="4">Dental Care</option>
                                                        <option value="5">Traumatology</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" name="submit" id="submit">
                                                    Submit Query <i class="fa fa-paper-plane"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Appoinment Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Start Blog -->
<div class="blog-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Recent <span>Blog</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it
                        examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog-items">
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-right-sidebar.html">
                                <img src="assets/img/blog/1.jpg" alt="Thumb">
                                <div class="post-type">
                                    <i class="fas fa-images"></i>
                                </div>
                            </a>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>15 June, 2019</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-right-sidebar.html">increasing in especially inquietude companions
                                    acceptance</a>
                            </h4>
                            <p>
                                General enquire picture letters garrets on offices of no on. Say one hearing between
                                excited evening all inhabit thought you.
                            </p>
                            <a class="btn btn-theme circle border btn-sm" href="blog-single-right-sidebar.html">Read
                                More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-right-sidebar.html">
                                <img src="assets/img/blog/2.jpg" alt="Thumb">
                                <div class="post-type">
                                    <i class="fas fa-video"></i>
                                </div>
                            </a>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>17 Auguest, 2019</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-right-sidebar.html">Middleton as pretended listening he smallness
                                    perceived.</a>
                            </h4>
                            <p>
                                General enquire picture letters garrets on offices of no on. Say one hearing between
                                excited evening all inhabit thought you.
                            </p>
                            <a class="btn btn-theme circle border btn-sm" href="blog-single-right-sidebar.html">Read
                                More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-right-sidebar.html">
                                <img src="assets/img/blog/3.jpg" alt="Thumb">
                                <div class="post-type">
                                    <i class="fas fa-image"></i>
                                </div>
                            </a>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>25 September, 2019</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-right-sidebar.html">Offended packages pleasant remainder recommend
                                    engrossed</a>
                            </h4>
                            <p>
                                General enquire picture letters garrets on offices of no on. Say one hearing between
                                excited evening all inhabit thought you.
                            </p>
                            <a class="btn btn-theme circle border btn-sm" href="blog-single-right-sidebar.html">Read
                                More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->

<app-footer></app-footer>