<app-header></app-header>

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Group Class</h1>
            </div>
            <!-- <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">groupclass</li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Services -->
<div class="services-area inc-icon less-info icon-padding">
    <div class="container">
        <div class="row">
            <div class="services-items text-center">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">
                            <i class="flaticon-doctor-1"></i>
                            <h4>Balance</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">
                            <i class="flaticon-medicine"></i>
                            <h4>Mobility</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">

                            <i class="flaticon-checkup"></i>
                            <h4>Strength</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Services -->



<!-- Start Banner 
    ============================================= -->
<div class="banner-area top-pad-50p bg-gradient border-shape responsive-auto-height text-small">
    <div class="item">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="content double-items">
                            <div class="col-md-7 col-sm-6">
                                <h1 data-animation="animated slideInRight">Best care for your Good health</h1>
                                <p data-animation="animated slideInUp" class="justify-content">
                                    Age Successfully!! Join our classes to improve balance, mobility and strength based
                                    on current research. The class integrates different aspects to specifically improve
                                    the individual's needs based off pre-testing.
                                </p>
                            </div>
                            <div class="col-md-5 col-sm-6" id="banner-id">
                                <img src="assets/img/banner/s5.jpg" alt="Thumb">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Start Doctors Tips 
    ============================================= -->
<div class="doctor-tips-area default-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="health-tips-items tips-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                <div class="single-item">
                    <div class="col-md-5">
                        <div class="thumb">
                            <img src="\assets\img\doctors\posterimg.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="info">
                            <h4>Who Would Benifits</h4>
                            <ul class="doctor">
                                <li>Experiencing balance issues.</li>
                                <li>slower walking speed.</li>
                                <li>Parkinson's or any other condition that effect daily life.</li>
                                <li>A recent lower body surgery (e.g Hip or Knee replacement).</li>
                                <li>Osteoarthritis afecting your lower limbs or low bone density.</li>
                                <li>Pervious falls or wants to prevent the risk of future falls.</li>
                            </ul>
                            <div class="center-footer">
                                <h4>Book in a Free consult for queries about testing and our classes</h4>
                                <p><a href="mailto:info@pranaphysio.co.nz">info@pranaphysio.co.nz</a> | <a
                                        href="tell:0221725853">Shouvik: 0221725853</a> | <a
                                        href="tell:02108320416">Jess: 021 08320416</a></p>
                                <a href="www.pranaphysio.co.nz">www.pranaphysio.co.nz</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Doctors Tips -->

<!-- Start Banner 
    ============================================= -->
<div id="link1" class="banner-area responsive-auto-height text-small">
    <div class="item shadow dark text-light bg-fixed" style="background-image: url(assets/img/banner/4.jpg);">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="content double-items">

                            <div class="col-md-7 col-sm-6">
                                <h1 data-animation="animated slideInRight">Home Safety <span> <br> Checklist</span>
                                </h1>
                                <p data-animation="animated slideInUp">
                                    Download this home safety checklist to make sure you can lower your
                                    risk of falls at home.
                                </p>
                                <a data-animation="animated slideInUp" class="btn btn-light border btn-md"
                                    href="https://www.pranaphysio.co.nz/wp-content/uploads/2021/04/ACC7771-home-safety-checklist-2.pdf" target="_blank">Download
                        </a>
                            </div>

                            <!-- Start Appoinment Form -->
                            <div class="col-md-5 col-sm-6 appoinment">
                                <div class="appoinment-box">
                                    <div class="heading">
                                        <h2>Make an Appointment</h2>
                                    </div>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="email" name="email" placeholder="Email*"
                                                        type="email">
                                                    <span class="alert-error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                                    <span class="alert-error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                        <select>
                                                            <option value="4">Massage Therapy</option>
                                                            <option value="5">St Luke's Patients</option>
                                                            <option value="5">Telehealth Consultation</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" name="submit" id="submit">
                                                    Submit Query <i class="fa fa-paper-plane"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Appoinment Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Start About
    ============================================= -->
<div class="about-area default-padding justify-content">
    <div class="container">
        <div class="row">
            <div class="about-items">
                <div class="col-md-6 info">
                    <h4>The Class:</h4>
                    <p>
                        At the moment we are running a balance, mobility and strength class. The classes run for usually
                        for 10- 12 weeks with the initial assessment/pre-testing in the first week and a follow up test
                        done at the end of the term to track progress.<br><br>We categories individuals into two groups,
                        falls risk category (target population low to moderate risk of falls) and the other group is
                        classified into those who can or cannot come up from the floor.<br><br>(Individuals who use a
                        walking aid, need help with ADL’s or who are at high risk of falls are trained individually with
                        a goal of progressing and integrating them to the group classes in the future)
                    </p>
                </div>
                <div class="col-md-6 tabs-items">
                    <!-- Tab Nav -->
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                <i class="fas fa-notes-medical"></i> Options
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                <i class="fas fa-map-marker-alt"></i> Option1
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab3" aria-expanded="false">
                                <i class="fas fa-clock"></i> Option2
                            </a>
                        </li>
                    </ul>
                    <!-- End Tab Nav -->
                    <!-- Start Tab Content -->
                    <div class="tab-content tab-content-info">
                        <!-- Single Item -->
                        <div id="tab1" class="tab-pane fade active in">
                            <div class="info title">
                                <h3>Options:</h3>
                                <p>
                                    There are two choices of classes. Each individual is expected to attend two classes
                                    each week. The classes are recommended depending on their initial assessment and
                                    individual needs.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div id="tab2" class="tab-pane fade">
                            <div class="info title">
                                <h3>Option 1</h3>
                                <p>
                                    It is a small group class in the Yoga studio with the main focus being mobility,
                                    balance, power and big amplitude of movement to improve gait.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div id="tab3" class="tab-pane fade">
                            <div class="info title">
                                <h3>Option 2 </h3>
                                <p>
                                    The second class is a High intensity strength training and conditioning session done
                                    at the gym floor. The session is taken through by an instructor in a group of three.
                                </p>
                            </div>

                        </div>
                        <br>
                        <p style="color:black;">All payments are made in full at the beginning of the term in order to
                            book your spot.<br><br>
                            To book a time or any other enquires please feel free to <a href="/contactus"
                                style="color:#0cb8b6;;">contact us.</a></p>
                        <!-- End Single Item -->
                    </div>
                    <!-- End Tab Content -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<app-footer></app-footer>