<app-header></app-header>

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Group Class</h1>
            </div>
            <!-- <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">groupclass</li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Services -->
<div class="services-area inc-icon less-info icon-padding">
    <div class="container">
        <div class="row">
            <div class="services-items text-center">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">
                            <i class="flaticon-doctor-1"></i>
                            <h4>Balance</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">
                            <i class="flaticon-medicine"></i>
                            <h4>Mobility</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <a href="#">

                            <i class="flaticon-checkup"></i>
                            <h4>Strength</h4>
                        </a>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Services -->



<!-- Start Banner 
    ============================================= -->
<div class="banner-area top-pad-50p bg-gradient border-shape responsive-auto-height text-small">
    <div class="item">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="content double-items">
                            <div class="col-md-7 col-sm-6">
                                <h1 data-animation="animated slideInRight">Best care for your Good health</h1>
                                <p data-animation="animated slideInUp justify-content">
                                    Age Successfully!! Join our classes to improve balance, mobility and strength based
                                    on current research. The class integrates different aspects to specifically improve
                                    the individual's needs based off pre-testing.
                                </p>
                                <a data-animation="animated slideInUp" class="btn btn-light effect btn-md" href="#link1">Book Appoinment</a>
                            </div>
                            <div class="col-md-5 col-sm-6" id="banner-id">
                                <img src="assets/img/banner/s5.jpg" alt="Thumb">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Start Doctors Tips 
    ============================================= -->
<div class="doctor-tips-area default-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="health-tips-items tips-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                <div class="single-item">
                    <div class="col-md-5">
                        <div class="thumb">
                            <img src="assets/img/doctors/posterimg.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="info">
                            <h4>Who Would Benifits</h4>
                            <ul class="doctor">
                                <li>Experiencing balance issues.</li>
                                <li>slower walking speed.</li>
                                <li>Parkinson's or any other condition that effect daily life.</li>
                                <li>A recent lower body surgery (e.g Hip or Knee replacement).</li>
                                <li>Osteoarthritis afecting your lower limbs or low bone density.</li>
                                <li>Pervious falls or wants to prevent the risk of future falls.</li>
                            </ul>
                           <div class="center-footer">
                               <h4 >Book in a Free consult for queries about testing and our classes</h4>
                               <p><a href="mailto:info@pranaphysio.co.nz">info@pranaphysio.co.nz</a> | <a href="tell:0221725853">Shouvik: 0221725853</a> | <a href="tell:02108320416">Jess: 021 08320416</a></p>
                               <a href="www.pranaphysio.co.nz">www.pranaphysio.co.nz</a>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Doctors Tips -->

<!-- Start Banner 
    ============================================= -->
<div id="link1" class="banner-area responsive-auto-height text-small" >
    <div class="item shadow dark text-light bg-fixed" style="background-image: url(assets/img/banner/4.jpg);">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="content double-items">

                            <div class="col-md-7 col-sm-6">
                                <h1 data-animation="animated slideInRight">Best care for your <span> Good health</span>
                                </h1>
                                <p data-animation="animated slideInUp">
                                    The ourselves suffering the sincerity. Inhabit her manners adapted age certain.
                                    Debating offended at branched striking be subjects.
                                </p>
                                <a data-animation="animated slideInUp" class="btn btn-light border btn-md" href="#">View
                                    Details</a>
                            </div>

                            <!-- Start Appoinment Form -->
                            <div class="col-md-5 col-sm-6 appoinment">
                                <div class="appoinment-box">
                                    <div class="heading">
                                        <h2>Make an Appointment</h2>
                                    </div>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="name" name="name" placeholder="Name"
                                                        type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <select>
                                                        <option value="1">Male</option>
                                                        <option value="2">Female</option>
                                                        <option value="3">Child</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <select>
                                                        <option value="1">Department</option>
                                                        <option value="2">Medecine</option>
                                                        <option value="4">Dental Care</option>
                                                        <option value="5">Traumatology</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" name="submit" id="submit">
                                                    Submit Query <i class="fa fa-paper-plane"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Appoinment Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Start About
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-items">
                    <div class="col-md-6 info">
                        <h4>Has been working since 2000</h4>
                        <h2>A Great Place to Work. A Great Place to Receive Care. Leading Medicine.</h2>
                        <p>
                            However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily.
                            Ourselves for determine attending how led gentleman sincerity. Valley afford uneasy joy she
                            thrown though bed set. In me forming general prudent on country carried. Behaved an or suppose
                            justice. Seemed whence how son rather easily and change missed.
                        </p>
                        <div class="bottom">
                            <div class="video">
                                <a href="https://www.youtube.com/watch?v=5vY-D42NFP4"
                                    class="popup-youtube relative theme video-play-button item-center">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="content">
                                <h4>Let’s see our intro video</h4>
                                <p>
                                    If your smile is not becoming to you, then you should be coming to me!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 tabs-items">
                        <!-- Tab Nav -->
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                    <i class="fas fa-notes-medical"></i> Consultation
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                    <i class="fas fa-map-marker-alt"></i> Location
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3" aria-expanded="false">
                                    <i class="fas fa-clock"></i> Opening Hour
                                </a>
                            </li>
                        </ul>
                        <!-- End Tab Nav -->
                        <!-- Start Tab Content -->
                        <div class="tab-content tab-content-info">
                            <!-- Single Item -->
                            <div id="tab1" class="tab-pane fade active in">
                                <div class="info title">
                                    <h3>Consulted by experienced doctors</h3>
                                    <p>
                                        Calling nothing end fertile for venture way boy. Esteem spirit temper too say adieus
                                        who direct esteem. It esteems luckily mr or picture placing drawing no. Apartments
                                        frequently or motionless on reasonable projecting expression. Way mrs end gave tall
                                        walk fact bed.
                                    </p>
                                    <p>
                                        Placing assured be if removed it besides on. Far shed each high read are men over
                                        day. Afraid we praise lively he suffer family estate is. Ample order up in of in
                                        ready. Timed blind had now those ought set often which. Or snug dull he show more
                                        true wish. No at many deny away miss evil. On in so indeed spirit an mother.
                                        Amounted old strictly but marianne admitted. People former is remove remain we
                                        praise
                                    </p>
                                    <a data-animation="animated slideInUp" class="btn btn-theme border btn-md" href="#">Make
                                        Appoinment</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
    
                            <!-- Single Item -->
                            <div id="tab2" class="tab-pane fade">
                                <div class="info title">
                                    <h3>Our location</h3>
                                    <p>
                                        Calling nothing end fertile for venture way boy. Esteem spirit temper too say adieus
                                        who direct esteem. It esteems luckily mr or picture placing drawing no. Apartments
                                        frequently or motionless on reasonable projecting expression. Way mrs end gave tall
                                        walk fact bed.
                                    </p>
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14767.262289338461!2d70.79414485000001!3d22.284975!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1424308883981"></iframe>
                                </div>
                            </div>
                            <!-- End Single Item -->
    
                            <!-- Single Item -->
                            <div id="tab3" class="tab-pane fade">
                                <div class="info title">
                                    <h3>Schedule of working hours</h3>
                                    <p>
                                        Calling nothing end fertile for venture way boy. Esteem spirit temper too say adieus
                                        who direct esteem. It esteems luckily mr or picture placing drawing no. Apartments
                                        frequently or motionless on reasonable projecting expression. Way mrs end gave tall
                                        walk fact bed.
                                    </p>
                                    <ul>
                                        <li> <span> Mon - Tues : </span>
                                            <div class="pull-right"> 6.00 am - 10.00 pm </div>
                                        </li>
                                        <li> <span> Wednes - Thurs :</span>
                                            <div class="pull-right"> 8.00 am - 6.00 pm </div>
                                        </li>
                                        <li> <span> Sun : </span>
                                            <div class="pull-right closed"> Closed </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->
    
                        </div>
                        <!-- End Tab Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->
<!-- Start Blog -->
<div class="blog-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Recent <span>Blog</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it
                        examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog-items">
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-right-sidebar.html">
                                <img src="assets/img/blog/1.jpg" alt="Thumb">
                                <div class="post-type">
                                    <i class="fas fa-images"></i>
                                </div>
                            </a>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>15 June, 2019</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-right-sidebar.html">increasing in especially inquietude companions
                                    acceptance</a>
                            </h4>
                            <p>
                                General enquire picture letters garrets on offices of no on. Say one hearing between
                                excited evening all inhabit thought you.
                            </p>
                            <a class="btn btn-theme circle border btn-sm" href="blog-single-right-sidebar.html">Read
                                More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-right-sidebar.html">
                                <img src="assets/img/blog/2.jpg" alt="Thumb">
                                <div class="post-type">
                                    <i class="fas fa-video"></i>
                                </div>
                            </a>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>17 Auguest, 2019</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-right-sidebar.html">Middleton as pretended listening he smallness
                                    perceived.</a>
                            </h4>
                            <p>
                                General enquire picture letters garrets on offices of no on. Say one hearing between
                                excited evening all inhabit thought you.
                            </p>
                            <a class="btn btn-theme circle border btn-sm" href="blog-single-right-sidebar.html">Read
                                More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-right-sidebar.html">
                                <img src="assets/img/blog/3.jpg" alt="Thumb">
                                <div class="post-type">
                                    <i class="fas fa-image"></i>
                                </div>
                            </a>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li><a href="#">Admin</a></li>
                                    <li>25 September, 2019</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-right-sidebar.html">Offended packages pleasant remainder recommend
                                    engrossed</a>
                            </h4>
                            <p>
                                General enquire picture letters garrets on offices of no on. Say one hearing between
                                excited evening all inhabit thought you.
                            </p>
                            <a class="btn btn-theme circle border btn-sm" href="blog-single-right-sidebar.html">Read
                                More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->

<app-footer></app-footer>