  <!-- Start Footer -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="f-items default-padding">
                    <div class="col-md-3 col-sm-6 equal-height item">
                        <div class="f-item">
                            <h4>About</h4>
                            <p>
                                To Provide a person-centerrd positive experience of movement as medicine by integrating best practices in physiotherapy with evidence-based streength training.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height item">
                        <div class="f-item link">
                            <h4>Our Services</h4>
                            <ul>
                                <li><i class="fas fa-arrow-right"></i><a routerLink="/service/service-details">Physiotherapy</a></li>
                                <li><i class="fas fa-arrow-right"></i><a routerLink="/service/service-details">Pain Management</a></li>
                                <li><i class="fas fa-arrow-right"></i><a routerLink="/service/service-details">Injury Management</a></li>
                                <li><i class="fas fa-arrow-right"></i><a routerLink="/service/service-details">Spine Care</a></li>
                                <li><i class="fas fa-arrow-right"></i><a routerLink="/service/service-details">Personalized Gym Program</a></li>
                                <li><i class="fas fa-arrow-right"></i><a routerLink="/service/service-details">Rehab</a></li>
                                <li><i class="fas fa-arrow-right"></i><a routerLink="/service/service-details">One to one Training</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height item">
                        <div class="f-item twitter-widget">
                            <h4>Opening Hours</h4>
                            <ul>
                                <li> <span> Mon - Tue :  </span>
                                  <div class="pull-right"> 6.00 am - 10.00 pm </div>
                                </li>
                                <li> <span> Wed - Thu :</span>
                                  <div class="pull-right"> 8.00 am - 6.00 pm </div>
                                </li>
                                <li> <span> Sun : </span>
                                  <div class="pull-right closed"> Closed </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height item">
                        <div class="f-item contact">
                            <h4>Contact</h4>
                            <ul>
                                <li>
                                    <i class="fas fa-phone"></i> 
                                    <p>Phone <span><a href="tel:+022 1725835">022 1725835</a></span></p>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i> 
                                    <p>Email <span><a href="mailto:info@pranaphysio.co.nz">info@pranaphysio.co.nz</a></span></p>
                                </li>
                                <li>
                                    <i class="fas fa-map"></i> 
                                    <p>Location <span>8 Nugent Street, Grafton, Auckland 1023, New Zealand.</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; Copyright 2021. All Rights Reserved by <a routerLink="https://www.deemsysinc.com/index/home.html" target="_blank">Deemsys Inc</a></p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms of user</a>
                            </li>
                            <li>
                                <a href="#">License</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
