<app-header></app-header>

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/Falls-prevention.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Falls Preventation</h1>
                </div>
                <!-- <div class="col-md-6 text-right">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">False Preventation</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->
    <div class="blog-area full-blog blog-standard default-padding">
        <div class="container">
            <div class="row">
                <div class="blog-items">
                    <div class="blog-content col-md-10 col-md-offset-1">
                        <!-- Single Item -->
                        <div class="single-item item">
                            <div class="thumb">
                                <a routerLink="/age-successful-calculator">
                                    <img src="assets/img/fallsprevention/1.jpg" alt="Thumb">
                                    <div class="post-type">
                                        <i class="fas fa-images"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>Step 1: Take the questionaire</li>
                                        <li>Age Successful Calculator</li>
                                    </ul>
                                </div>
                                <h3>
                                    <a routerLink="/age-successful-calculator">Falls risk Calculator</a>
                                </h3>
                                <p class="text-justify">The falls risk calculator helps you to check your risk of falls by evaluating your balance, lower limb strength and how you perform in activities of daily living. These functional tests are recommended for older adults, above 65 years or age and can be done safely from the comfort of their own home.</p>
                                <a class="btn btn-theme circle border btn-sm" routerLink="/age-successful-calculator">Take Test <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="single-item item">
                            <div class="thumb">
                                <a routerLink="/single-leg-balance">
                                    <img src="assets/img/fallsprevention/2.jpg" alt="Thumb">
                                    <div class="post-type">
                                        <i class="fas fa-video"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>Step 2: Take 1st of 3 at home tests</li>
                                        <li>Single Leg Balance</li>
                                    </ul>
                                </div>
                                <h3>
                                    <a routerLink="/age-successful-calculator">Single Leg Balance</a>
                                </h3>
                                <p>
                                    General enquire picture letters garrets on offices of no on. Say one hearing between excited evening all inhabit thought you. Ecstatic followed handsome drawings entirely mrs one yet outweigh. Of acceptance insipidity remarkably is invitation.
                                </p>
                                <a class="btn btn-theme circle border btn-sm" routerLink="/age-successful-calculator">Take test <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="single-item item">
                            <div class="thumb">
                                <a routerLink="/age-successful-calculator">
                                    <img src="assets/img/fallsprevention/3.jpg" alt="Thumb">
                                    <div class="post-type">
                                        <i class="fas fa-image"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>Step 3: Take 2nd of 3 at home tests</li>
                                        <li>Sit to Stand</li>
                                    </ul>
                                </div>
                                <h3>
                                    <a routerLink="/age-successful-calculator">Sit to Stand</a>
                                </h3>
                                <p>
                                    General enquire picture letters garrets on offices of no on. Say one hearing between excited evening all inhabit thought you. Ecstatic followed handsome drawings entirely mrs one yet outweigh. Of acceptance insipidity remarkably is invitation.
                                </p>
                                <a class="btn btn-theme circle border btn-sm" routerLink="/age-successful-calculator">Take Test <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="single-item item">
                            <div class="thumb">
                                <a routerLink="/age-successful-calculator">
                                    <img src="assets/img/fallsprevention/4.png" alt="Thumb">
                                    <div class="post-type">
                                        <i class="fas fa-images"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>Step 4: Take the last at home Test</li>
                                        <li>Timed Up and Go</li>
                                    </ul>
                                </div>
                                <h3>
                                    <a routerLink="/age-successful-calculator">Timed Up and Go</a>
                                </h3>
                                <p class="text-justify">The falls risk calculator helps you to check your risk of falls by evaluating your balance, lower limb strength and how you perform in activities of daily living. These functional tests are recommended for older adults, above 65 years or age and can be done safely from the comfort of their own home.</p>
                                <a class="btn btn-theme circle border btn-sm" routerLink="/age-successful-calculator">Take Test <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Pagination -->
                        <!-- <div class="row">
                            <div class="col-md-12 pagi-area">
                                <nav aria-label="navigation">
                                    <ul class="pagination">
                                        <li><a href="#"><i class="fas fa-long-arrow-alt-left"></i></a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

    <app-footer></app-footer>

