<app-header></app-header>

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>About Us</h1>
            </div>
            <!-- <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Doctors 
    ============================================= -->
    <div class="doctor-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Meet Our <span>Specialists</span></h2>
                        <p>
                            To Provide a person-centerrd positive experience of movement as medicine by integrating best practices in physiotherapy with evidence-based streength training.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="doctor-items text-center">
                    <!-- Single Item -->
                    <div class="col-md-3 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/doctors/shouvik.jpg" alt="Thumb">
                                <div class="overlay">
                                    <a><i class="fas fa-plus"></i></a>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h5>Shouvik Nandy</h5>
                                <div class="appoinment-btn">
                                    <a class="btn btn-theme border btn-md" routerLink="/aboutus/about-details">Make appoinment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-3 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/doctors/1.jpg" alt="Thumb">
                                <div class="overlay">
                                    <a href="#"><i class="fas fa-plus"></i></a>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h5>Yaxita - Therapist</h5>
                                <div class="appoinment-btn">
                                    <a class="btn btn-theme border btn-md" routerLink="/aboutus/about-details">Make appoinment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-3 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/doctors/1.jpg" alt="Thumb">
                                <div class="overlay">
                                    <a href="#"><i class="fas fa-plus"></i></a>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h5>Yilang - Physiotherapist</h5>
                                <div class="appoinment-btn">
                                    <a class="btn btn-theme border btn-md" routerLink="/aboutus/about-details">Make appoinment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                     <!-- Single Item -->
                     <div class="col-md-3 equal-height">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/doctors/1.jpg" alt="Thumb">
                                <div class="overlay">
                                    <a href="#"><i class="fas fa-plus"></i></a>
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h5>Nicola Page - Nutritionist</h5>
                                <div class="appoinment-btn">
                                    <a class="btn btn-theme border btn-md" routerLink="/aboutus/about-details">Make appoinment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Doctors -->

<!-- Start Doctors Tips  -->
<div class="doctor-tips-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Our <span>Aspirations</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="thumb">
                    <img class="padding-image" src="assets/img/banner/home.jpg" alt="">
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-7">
                <div class="health-tips-items">
                    <div class="single-item">
                        <div class="info">
                            <!-- <div class="doctor">
                                <h4>Dr. Jessica Ronal</h4>
                                <h5>MPH, Medicine, Surgery</h5>
                            </div> -->
                            <!-- <h3>How to live a healthy lifestyle?</h3> -->
                            <!-- <p>
                                Frequently partiality possession resolution at or appearance unaffected he me. Engaged
                                its was evident pleased husband. Ye goodness felicity do disposal dwelling no. First am
                                plate jokes to began of cause an scale. Subjects he prospect elegance followed no
                                overcame possible it on.
                            </p> -->
                            <!-- <h4>Follow the instructions</h4> -->
                            <ul>
                                <li> To promote movement as medicine for the elderly, by providing our services across gyms and community health care centers globally.</li>
                                <li>To provide movement medicine to people who seek better health, wellbeing and/or sporting performance.</li>
                                <li> To create a platform where movement experts from diverse fields collaborate to bridge the gap between research and practical application for all things related to achieving excellence in movement performance.</li>
                                <li>We at Prana Physiotherapy care for the whole person and not just the injury. Our focus is on optimizing movement function, rather than just telling you what you should stop doing!.</li>
                                <li>We are movement specialists and we empower people to achieve their goals and enable people to live an active life style.</li>
                                <li>Injury to optimal performance is a continuum. We help people along this continuum in every step by offering individualized pain management strategies, graded strength training and rehabilitation services.</li>
                                <li>Pain is a sensation (just like heat, cold, touch and prick) and every person has a different experience of pain.</li>
                                <li> We look at managing pain from a bio-psycho-social perspective, where every individual is unique in the way they cope with their pain experience. Thus our pain management and injury rehabilitation strategies are tailored towards individual needs and goals.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Doctors Tips -->


<!-- Start Fun Factor
    ============================================= -->
<div class="fun-fact-area default-padding shadow light text-center bg-fixed text-light"
    style="background-image: url(assets/img/banner/aboutpage.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 item">
                <div class="fun-fact">
                    <i class="flaticon-recovered"></i>
                    <div class="timer" data-to="230" data-speed="5000"></div>
                    <span class="medium">Satisfied Patients</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="fun-fact">
                    <i class="flaticon-doctor"></i>
                    <div class="timer" data-to="89" data-speed="5000"></div>
                    <span class="medium">Regular Therapist</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="fun-fact">
                    <i class="flaticon-department"></i>
                    <div class="timer" data-to="50" data-speed="5000"></div>
                    <span class="medium">Service</span>
                </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6 item">
                <div class="fun-fact">
                    <i class="flaticon-nurse"></i>
                    <div class="timer" data-to="2348" data-speed="5000"></div>
                    <span class="medium">Servant</span>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- End Fun Factor -->



<app-footer></app-footer>