<app-header></app-header>

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Services</h1>
            </div>
            <!-- <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Services</li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Services 
    ============================================= -->
<div class="services-area bg-gray inc-icon default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="services-items text-center">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Physiotherapy</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-medical"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way
                                blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Pain Management</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-anesthesia"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way
                                blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Injury Management</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-anatomy"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way
                                blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Spine Care</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-lung-cancer"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way
                                blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Personalized Gym Program</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-thinking"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way
                                blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <div class="info">
                            <h4>
                                <a href="#">Rehab</a>
                            </h4>
                            <div class="overlay">
                                <i class="flaticon-medicine"></i>
                            </div>
                            <p>
                                Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way
                                blind lived whose new. The for fully had she there leave merit enjoy forth.
                            </p>
                            <a class="btn btn-theme border circle btn-md" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Services -->


<!-- Start Features
    ============================================= -->
<div class="features-area bg-gray default-padding">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="site-heading text-center">
                <h2>Session with <span>Sherlock Holmes</span></h2><br>
                This is a 60 min investigation and treatment session. A physiotherapist will use clinical reasoning and a battery of tests to understand the cause of injury, pain or movement dysfunction. S/he will then seek to understand individual needs and goals and offer pathways for treatment.<br>
                <span class="important-text">* This can also be a stand-alone session for baseline assessment of individual capabilities and needs.</span>
                </div>
            </div>
        <div class="row">            
            <div class="col-md-6 appoinment">
                <div class="appoinment-box">
                    <div class="heading">
                        <h4>Online Appoinment</h4>
                        <h2>Make an Appointment</h2>
                    </div>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" id="f-name" name="f-name" placeholder="First Name"
                                        type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" id="l-lname" name="l-lname" placeholder="Last Name"
                                        type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select>
                                        <option value="1">Exercise-Based Rehabilitation</option>
                                        <option value="2">Grafton - BodyTech - ACC Physiotherapy</option>
                                        <option value="4">Massage Therapy</option>
                                        <option value="5">St Luke's Patients</option>
                                        <option value="5">Telehealth Consultation</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group comments">
                                    <textarea class="form-control" id="comments" name="comments"
                                        placeholder="comments *"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" name="submit" id="submit">
                                    Submit Query <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 features-items">
                <ul>
                    <li>
                        <div class="icon">
                            <img src="assets/img/sherlock/investigate.png" class="logo" alt="Logo">
                            <!-- <i class="flaticon-tooth"></i> -->
                        </div>
                        <div class="info">
                            <h4>Investigate</h4>
                            <!-- <p>
                                Principle oh explained excellent do my suspected conveying in. Excellent you did
                                therefore perfectly supposing described.
                            </p> -->
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <!-- <i class="flaticon-medicine"></i> -->
                            <img src="assets/img/sherlock/identify.png" class="logo" alt="Logo">
                        </div>
                        <div class="info">
                            <h4>Identify</h4>
                            <!-- <p>
                                Principle oh explained excellent do my suspected conveying in. Excellent you did
                                therefore perfectly supposing described.
                            </p> -->
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="assets/img/sherlock/treat.png" class="logo" alt="Logo">
                            <!-- <i class="flaticon-first-aid-kit"></i> -->
                        </div>
                        <div class="info">
                            <h4>Treat</h4>
                            <!-- <p>
                                Principle oh explained excellent do my suspected conveying in. Excellent you did
                                therefore perfectly supposing described.
                            </p> -->
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <!-- <i class="flaticon-24-hours"></i> -->
                            <img src="assets/img/sherlock/test.png" class="logo" alt="Logo">
                        </div>
                        <div class="info">
                            <h4>Test </h4>
                            <!-- <p>
                                Principle oh explained excellent do my suspected conveying in. Excellent you did
                                therefore perfectly supposing described.
                            </p> -->
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <!-- <i class="flaticon-24-hours"></i> -->
                            <img src="assets/img/sherlock/treatment.png" class="logo" alt="Logo">
                        </div>
                        <div class="info">
                            <h4>Offer pathways to the treatment </h4>
                            <!-- <p>
                                Principle oh explained excellent do my suspected conveying in. Excellent you did
                                therefore perfectly supposing described.
                            </p> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Features -->

<app-footer></app-footer>