<!-- Start Header Top -->
<div class="top-bar-area inline inc-border">
    <div class="container">
        <div class="row">
            <div class="col-md-10 address-info text-left">
                <div class="info box">
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i> 8 Nugent Street, Grafton, Auckland 1023, New Zealand.
                        </li>
                        <li>
                            <i class="fas fa-envelope-open"></i> <a href="mailto:info@pranaphysio.co.nz">info@pranaphysio.co.nz</a>
                        </li>
                        <li>
                            <i class="fas fa-phone"></i> <a href="tel:+022 1725835">022 1725835</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 social text-right">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Header Top -->
<!-- Header 
    ============================================= -->
<header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo.png" class="logo" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                    <li class="dropdown active">
                        <a routerLink="">Home</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/aboutus">About Us</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/service" class="dropdown-toggle active" data-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/service/service-details">Physiotherapy</a></li>
                            <li><a routerLink="/service/service-details">Pain Management</a></li>
                            <li><a routerLink="/service/service-details">Injury Management</a></li>
                            <li><a routerLink="/service/service-details">Spine Care</a></li>
                            <li><a routerLink="/service/service-details">Personalized Gym Program</a></li>
                            <li><a routerLink="/service/service-details">Rehab</a></li>
                            <li><a routerLink="/service/service-details">One to one Training</a></li>
                            <!-- <li class="dropdown">
                                <a routerLink="/service/service-details" class="dropdown-toggle active" data-toggle="dropdown">Rehab</a>
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/service/service-details">One to one Training</a></li>
                                </ul>
                            </li> -->
                            <li class="dropdown"><a routerLink="/service/service-details" class="dropdown-toggle active" data-toggle="dropdown">Other service</a>
                                <ul class="dropdown-menu">
                                <li><a routerLink="/service/service-details">Breathing Assessments and Treatments</a></li>
                                <li><a routerLink="/service/service-details">Tendinopathy Rehabilitation</a></li>
                                <li><a routerLink="/service/service-details">Kettlebell (KB) Workshop for Shoulders</a></li>
                                <li><a routerLink="/service/service-details">Strength and Conditioning for Rugby/MMA</a></li>                                    
                                <li><a routerLink="/service/service-details">Movement Screening</a></li>                                                                    
                                <li><a routerLink="/service/service-details">Knee Osteoarthritis (OA) Focus Sessions</a></li>
                            </ul></li>
                            <li><a routerLink="/service/service-details">Referrals</a></li>                         
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/groupclass">Group Class</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/videolibrary">Video Library</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/fallspreventation">Falls Prevention</a>
                    </li>
                    <li>
                        <a routerLink="/contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Header -->