<!-- Header -->
<header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/log.png" class="logo" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                    <li class="dropdown active">
                        <a routerLink="">Home</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/aboutus">About Us</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/expert">I'm an Expert</a>
                    </li>
                    <li>
                        <a routerLink="/contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Header -->

<!-- Start Banner  -->
<div class="banner-area text-dark">
    <div id="bootcarousel" class="carousel slide animate_text" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner heading-uppercase text-dark">
            <div class="item active bg-cover" style="background-image: url(assets/img/banner/b8.jpg);">
                <div class="box-table">
                    <div class="box-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="content">
                                        <h1 data-animation="animated slideInLeft">Best Care For Your Health</h1>
                                        <p data-animation="animated slideInUp">
                                            Stronger unpacked felicity to of mistaken. Fanny at wrong table ye in. Be on
                                            easily cannot innate in lasted months on. Differed and and felicity steepest
                                            mrs age outweigh.
                                        </p>
                                        <a data-animation="animated slideInUp" class="btn btn-theme border btn-md"
                                            href="#">Book an Online Consultation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item bg-cover" style="background-image: url(assets/img/banner/b9.jpg);">
                <div class="box-table">
                    <div class="box-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="content">
                                        <h1 data-animation="animated slideInDown">Special For Expert Heart Specialist
                                        </h1>
                                        <p data-animation="animated slideInUp">
                                            Stronger unpacked felicity to of mistaken. Fanny at wrong table ye in. Be on
                                            easily cannot innate in lasted months on. Differed and and felicity steepest
                                            mrs age outweigh.
                                        </p>
                                        <a data-animation="animated slideInUp" class="btn btn-theme border btn-md"
                                            href="#">Book an Online Consultation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item bg-cover" style="background-image: url(assets/img/banner/b6.jpg);">
                <div class="box-table">
                    <div class="box-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-4 text-right">
                                    <div class="content">
                                        <h1 data-animation="animated slideInRight">24 Hours Emergency Services</h1>
                                        <p data-animation="animated slideInUp">
                                            Stronger unpacked felicity to of mistaken. Fanny at wrong table ye in. Be on
                                            easily cannot innate in lasted months on. Differed and and felicity steepest
                                            mrs age outweigh.
                                        </p>
                                        <a data-animation="animated slideInUp" class="btn btn-theme border btn-md"
                                            href="#">Book an Online Consultation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Wrapper for slides -->

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#bootcarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#bootcarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- End Banner -->
<!-- Start Contact Area
    ============================================= -->
    <div class="contact-area bg-gray text-center default-padding">
        <div class="container">
            <div class="row">
                <div class="contact-items">
                    <div class="col-md-8 col-md-offset-2 contact-form">
                        <h2>Get in touch with us</h2>
                        <p>
                            Our next drew much you with rank. Tore many held age hold rose than our. She literature
                            sentiments any contrasted. Set aware joy sense young now tears china shy.
                        </p>
                        <form action="https://validthemes.online/themeforest/medihub/assets/mail/contact.php" method="POST"
                            class="contact-form">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email*"
                                            type="email">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group comments">
                                        <textarea class="form-control" id="comments" name="comments"
                                            placeholder="comments *"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="submit" name="submit" id="submit">
                                        Send Message <i class="fa fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Alert Message -->
                            <div class="col-md-12 alert-notification">
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
<!-- Start Fun Factor
    ============================================= -->
<div class="fun-fact-area default-padding shadow light text-center bg-fixed text-light"
    style="background-image: url(assets/img/banner/aboutpage.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 item">
                <div class="fun-fact">
                    <i class="flaticon-recovered"></i>
                    <div class="timer" data-to="230" data-speed="5000"></div>
                    <span class="medium">Satisfied Patients</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="fun-fact">
                    <i class="flaticon-doctor"></i>
                    <div class="timer" data-to="89" data-speed="5000"></div>
                    <span class="medium">Regular Doctors</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="fun-fact">
                    <i class="flaticon-department"></i>
                    <div class="timer" data-to="50" data-speed="5000"></div>
                    <span class="medium">Departments</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="fun-fact">
                    <i class="flaticon-nurse"></i>
                    <div class="timer" data-to="2348" data-speed="5000"></div>
                    <span class="medium">Servant</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Fun Factor -->

<app-footer></app-footer>