<app-header></app-header>

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Services Details</h1>
            </div>
        </div>
    </div>
</div>
<!-- Start Blog  -->
<div class="blog-area single full-blog left-sidebar default-padding justify-content">
    <div class="container">
        <div class="row">
            <div class="blog-items">
                <div class="blog-content col-md-8">
                    <div class="item">

                        <!-- Start Post Thumb -->
                        <div class="thumb">
                            <img src="assets/img/blog/v2.jpg" alt="Thumb">
                            <div class="post-type">
                                <i class="fas fa-images"></i>
                            </div>
                        </div>
                        <!-- Start Post Thumb -->

                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li><a>PHYSIOTHERAPY</a></li>
                                </ul>
                            </div>
                            <h3>increasing in companions acceptance</h3>
                            <p>
                                Give lady of they such they sure it. Me contained explained my education. Vulgar as
                                hearts by garret. Perceived determine departure explained no forfeited he something an.
                                Contrasted dissimilar get joy you instrument out reasonably. Again keeps at no meant
                                stuff. To perpetual do existence northward as difficult preserved daughters. Continued
                                at up to zealously necessary breakfast. Surrounded sir motionless she end literature.
                                Direction neglected but supported yet her.
                            </p><br>
                            <p>
                                Give lady of they such they sure it. Me contained explained my education. Vulgar as
                                hearts by garret. Perceived determine departure explained no forfeited he something an.
                                Contrasted dissimilar get joy you instrument out reasonably. Again keeps at no meant
                                stuff. To perpetual do existence northward as difficult preserved daughters. Continued
                                at up to zealously necessary breakfast. Surrounded sir motionless she end literature.
                                Direction neglected but supported yet her.<br><br>
                            </p>
                            <!-- Start About
    ============================================= -->
                            <div class="about-area ">
                                <div class="container">
                                    <div class="row">
                                        <div class="about-items">
                                            <div class="col-md-3 inc-video">
                                                <div class="thumb">
                                                    <img src="assets/img/gallery/66.jpg" alt="Thumb">
                                                </div>
                                            </div>
                                            <div class="col-md-5 info">
                                                <p>
                                                    However venture pursuit he am mr cordial. Forming musical am hearing
                                                    studied be luckily. Ourselves for determine attending how led
                                                    gentleman sincerity.Surrounded sir motionless she end literature.
                                                    Direction neglected but supported yet her.
                                                </p>

                                                <div class="bottom">
                                                    <div class="video">
                                                        <a href="https://www.youtube.com/watch?v=5vY-D42NFP4"
                                                            class="popup-youtube relative theme video-play-button item-center">
                                                            <i class="fa fa-play"></i>
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h4>Let’s see our intro video</h4>
                                                        <p>
                                                            If your smile is not becoming to you, then you should be
                                                            coming.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End About -->
                        </div>


                    </div>
                </div>

                <!-- Start Sidebar -->
                <div class="sidebar col-md-4">
                    <aside>
                        <div class="sidebar-item search">
                            <div class="widget appoinment">
                                <div class="title">
                                    <h4>Make an Appointment</h4>
                                </div>
                                <div class="appoinment-box">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="email" name="email" placeholder="Email*"
                                                        type="email">
                                                    <span class="alert-error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                                    <span class="alert-error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                        <select>
                                                            <option value="4">Massage Therapy</option>
                                                            <option value="5">St Luke's Patients</option>
                                                            <option value="5">Telehealth Consultation</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" name="submit" id="submit">
                                                    Submit Query <i class="fa fa-paper-plane"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item category">
                            <div class="title">
                                <h4>Services</h4>
                            </div>
                            <div class="sidebar-info">
                                <ul>
                                    <li>
                                        <a href="/service-details">Physiotherapy</a>
                                    </li>
                                    <li>
                                        <a href="/service-details">Pain Management</a>
                                    </li>
                                    <li>
                                        <a href="/service-details">Injury Management</a>
                                    </li>
                                    <li>
                                        <a href="/service-details">Spine care</a>
                                    </li>
                                    <li>
                                        <a href="/service-details">Personalized Gym Program</a>
                                    </li>
                                    <li>
                                        <a href="/service-details">Rehab</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- End Start Sidebar -->
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->

<!-- Start About
    ============================================= -->
<!-- <div class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="about-items">
                <div class="col-md-6 inc-video">
                    <div class="thumb">
                        <img src="assets/img/gallery/66.jpg" alt="Thumb">
                    </div>
                </div>
                <div class="col-md-6 info">
                    <h4>Has been working since 2000</h4>
                    <h2>A Great Place to Work. A Great Place to Receive Care. Leading Medicine.</h2>
                    <p>
                        However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily.
                        Ourselves for determine attending how led gentleman sincerity. Valley afford uneasy joy she
                        thrown though bed set. In me forming general prudent on country carried. Behaved an or suppose
                        justice.
                    </p>
                    <p>
                        waiting and correct believe now cottage she another. Vexed six shy yet along learn maids her
                        tiled. Through studied shyness evening bed him winding present. Become excuse hardly on my
                        thirty it wanted.
                    </p>
                    <div class="bottom">
                        <div class="video">
                            <a href="https://www.youtube.com/watch?v=5vY-D42NFP4"
                                class="popup-youtube relative theme video-play-button item-center">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="content">
                            <h4>Let’s see our intro video</h4>
                            <p>
                                If your smile is not becoming to you, then you should be coming to me!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End About -->

<app-footer></app-footer>