<app-header></app-header>

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/contact-us.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Contact Us</h1>
            </div>
            <!-- <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Contact Us</li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Contact Top Entry
    ============================================= -->
<div class="top-entry-area text-center">
    <div class="container">
        <div class="row">
            <div class="item-box">
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <i class="fas fa-map-marked-alt"></i>
                        <h4>Location</h4>
                        <p>
                            8 Nugent Street, Grafton, Auckland 1023, New Zealand.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <i class="fas fa-phone"></i>
                        <h4>Call</h4>
                        <h2><a href="tel:+022 1725835">022 1725835</a></h2>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <i class="fas fa-envelope-open"></i>
                        <h4>Email</h4>
                        <p>
                            <a href="mailto:info@pranaphysio.co.nz">info@pranaphysio.co.nz</a><br><a href="mailto:sho@pranaphysio.co.nz">sho@pranaphysio.co.nz</a>
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Contact Top Entry -->

<!-- Start Contact Area
    ============================================= -->
<div class="contact-area bg-gray text-center default-padding">
    <div class="container">
        <div class="row">
            <div class="contact-items">
                <div class="col-md-8 col-md-offset-2 contact-form">
                    <h2>Get in touch with us</h2>
                    <p>
                        Our next drew much you with rank. Tore many held age hold rose than our. She literature
                        sentiments any contrasted. Set aware joy sense young now tears china shy.
                    </p>
                    <form action="https://validthemes.online/themeforest/medihub/assets/mail/contact.php" method="POST"
                        class="contact-form">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Email*"
                                        type="email">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group comments">
                                    <textarea class="form-control" id="comments" name="comments"
                                        placeholder="comments *"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <button type="submit" name="submit" id="submit">
                                    Send Message <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Alert Message -->
                        <div class="col-md-12 alert-notification">
                            <div id="message" class="alert-msg"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area -->

<!-- Start Google Maps 
    ============================================= -->
<div class="maps-area">
    <div class="container-full">
        <div class="row">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d6384.050185303993!2d174.7640548!3d-36.8658182!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x6d0d47db63f42b85%3A0xdc5973134243122d!2s8%20Nugent%20Street%20Grafton%20Auckland%201023!3m2!1d-36.8658182!2d174.7640548!5e0!3m2!1sen!2sin!4v1634273499150!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- End Google Maps -->

<app-footer></app-footer>